<html>
  <head>
    <title>Gブレイバー</title>
    <meta name="userId" content="<%=  userId%>">
    <meta name="roomId" content="<%=  roomId%>">
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/javascripts/enchant.js"></script>
    <script type="text/javascript" src="/javascripts/game.js"></script>
    <script type="text/javascript" src="/javascripts/jquery-2.0.3.min.js"></script>
  </head>
　　<body>
  </body>
</html>