<html>
  <head>
    <title>Gブレイバー 戦闘</title>
    <meta name="userId" content="<%=  userId%>">
    <meta name="roomId" content="<%=  roomId%>">
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/javascripts/enchant.js"></script>
    <script type="text/javascript" src="/javascripts/ui.enchant.js"></script>
    <script type="text/javascript" src="/javascripts/index.js"></script>
    <script type="text/javascript" src="/javascripts/game.js"></script>
    <script type="text/javascript" src="/javascripts/customBar.js"></script>
    <script type="text/javascript" src="/javascripts/batteryMertor.js"></script>
    <script type="text/javascript" src="/javascripts/jquery-2.0.3.min.js"></script>
    <style type="text/css">
      body {margin: 0;}
    </style>
  </head>
　　<body>
  </body>
</html>