<html>
<head>
    <title>Gブレイバー</title>
    <link rel='stylesheet' href='/stylesheets/gameMain.css'/>
    <meta name="userId" content="<%=  userId %>">
    <meta name="contentBaseUrl" content="<%=  contentBaseUrl %>">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <script type="text/javascript" src="/javascripts/lib/jquery-2.0.3.min.js"></script>
    <script type="text/javascript" src="/javascripts/others/header.js"></script>
    <script type="text/javascript">
        writeHeader('/header.html');
    </script>
    <script type="text/javascript" src="/javascripts/index.js"></script>
</head>
　　<body>
</body>
</html>