<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/loginPage.css'/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
</head>
<body>
<div class="center">
    <div><img src="/images/top.png"></div>
    <div><a href="/auth/google" class="myButton basicDiv" name="googleLogin">googleアカウントでログイン</a></div>
    <div><a href="http://gbraver.jimdo.com/%E9%81%8A%E3%81%B3%E6%96%B9/" class="myButton basicDiv" target="_blank">遊び方</a></div>
</div>
</body>
</html>

