<!DOCTYPE html>
<html>
  <head>
    <title>Gブレイバー ルームセレクト</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form action="/battle" method="post">
      <input type="text" name="userId" value="gbraver85001@gmail.com">
      <p>ルームID<input type="text" name="roomId"></p>
      <p><input type="submit" value="ログイン" name="enterRoom"></p>
    </form>
  </body>
</html>