<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
</head>
<body>
<h1><%= title %></h1>

<% for(var i=0; i<testList.length; i++) {%>
<a href="testClient?code=<%= testList[i].slice(13) %>" target="_blank">
    <%= testList[i] %>
</a><br>
<% } %>
</body>
</html>