<html>
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="contentBaseUrl" content="<%=  contentBaseUrl %>">
    <title><%= testCode %></title>
    <script type="text/javascript" src="/javascripts/lib/jquery-2.0.3.min.js"></script>
    <script type="text/javascript" src="/javascripts/others/header.js"></script>
    <script type="text/javascript">
        writeHeader('/header.html');
        writeHeader('/testHeader.html');
    </script>
    <script type="text/javascript" src="<%= testCode %>" name="testCode"></script>
    <style type="text/css">
        body {margin: 0;}
    </style>
</head>
　　<body>
</body>
</html>