body {
    margin: 0;
}

@font-face {
    font-family: 'flopdesign-kana';
    src: url('/fonts/flopdesign-kana.eot');
    src: url('/fonts/flopdesign-kana.eot?#iefix') format('embedded-opentype'),
         url('/fonts/flopdesign-kana.woff') format('woff'),
         url('/fonts/flopdesign-kana.ttf') format('truetype');
}